.container {
    margin-left: 20px;
}

.userPhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.btn {
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 16px;
    padding: 2px 10px;
    border-radius: 4px;
    transition-duration: 0.3s;
}
.btn_unfollow:hover {
    background-color: #dfb2b2;
}
.btn_follow:hover {
    background-color: #b6d1b4;
}