.pageNumber {
  padding: 2px;
}
.selectedPage {
  font-weight: bold;
}
.Pagination__container {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.Pagination {
  display: flex;
  justify-content: space-between;
  width: 600px;

}



.pageNumber {
  display: inline-block;
  padding: 5px 9px;
  color: #222;
}

.pagination_button {
  background-color: #2ecc71;
  margin: auto 5px;
  color: #fff;
  border: 3px solid #2ecc71;
  position: relative;
}
.button__prev {
  content: "";
  position: absolute;
  top: -3px;
  left: -25px;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-right: 22px solid #2ecc71;
}
.button__next {
  content: "";
  position: absolute;
  top: -3px;
  right: -25px;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 22px solid #2ecc71;
}