.descriptionBlock {
  padding: 10px;
}
.profileImage {
  /* min-width: 220px;
  max-width: 300px; */
  width: 250px;
  height: 250px;
  border: 10px solid #4b3c3b;
  border-radius: 50%;
  object-fit: cover;
}
